td{
	width: 130px!important;
	font-size: 79px;
	text-align: center;
}

#home{
	height: 643px;
	background: -webkit-linear-gradient(left, #D9C27D, #F5EFDC, #D9C27D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #D9C27D, #F5EFDC, #D9C27D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #D9C27D, #F5EFDC, #D9C27D); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #D9C27D, #F5EFDC, #D9C27D); /* Standard syntax (must be last) */
}

#score{
	position:relative;
	border:1px solid lightgray;
	height:200px;
	width:200px;
	top:167px;
	left:90px;
	display:none;
	padding-top:90px;
	color:red;
	font-size:20px;
	border-radius: 10px;
	background: -webkit-linear-gradient(left, #D9C27D, #F5EFDC, #D9C27D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #D9C27D, #F5EFDC, #D9C27D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #D9C27D, #F5EFDC, #D9C27D); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #D9C27D, #F5EFDC, #D9C27D); /* Standard syntax (must be last) */
}